#nav-bar {
    background-color: #00a087;
    background-size: contain;
    width: 100%;
    height: 80px;
    padding-left: 2em;
    padding-right: 2em;
    color: #e8fdff;
}

#nav-bar .header {
    float: left;
    line-height: 80px;
    font-size: 30px;
}

#nav-bar .logo {
    float: left;
    height: 80px;
    width: 80px;
}