.tweet-container {
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    margin-top: 14px;
    padding-top: 0px;
    padding-bottom: 36px;
}

.tweet-header {
    background-color: lightgrey;
    width: 100%;
    b
}

.tweet-header h2 {
    margin: 0;
    padding: 14px;
    width: 50%;
}

article.tweet-content header.tweet-header p {
    width: 20%;
    float: right;
}

.logo {
    float: left;
    height: 60px;
    width: 60px;
}

.tweet-content p {
    margin: 24px;
    height: 36px;
}

.tweet-bottom {
    height: 2px;
}