.tweet-content {
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    margin-top: 14px;
    padding-top: 0px;
    padding-bottom: 36px;
    opacity: 0.5;

}

.tweet-header {
    background-color: lightgrey;
    width: 100%;
    height: 50px;
    
}

.tweet-header h2 {
    margin: 0;
    padding: 12px;
    padding-left: 16px;
    width: 70%;
}

article.tweet-content header.tweet-header p {
    width: 20%;
    float: right;
}

.logo {
    float: left;
    height: 50px;
    width: 50px;
}

.tweet-content p {
    margin: 24px;
    height: 36px;
}

.tweet-bottom {
    border-top: 2px;
    border-top-style: solid;
    height: 2px;
    padding-left: 20px;
    padding-top: 4px;
    
}

.tweet-content:hover {
    opacity: 1;


}